 <!--Navigation-->
 <nav  class="navbar navbar-expand-lg fixed-top navbar-custom ">
  <div class="container text-white">
  <a class="navbar-brand navbar-bran font" href="#" style="color: #6ad26d">Agroweb</a>
  <button class="navbar-toggler btn-dark " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link page-scroll " href="/">Home | <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll"  href="about">Create |</a>
          </li>
    
          <li class="nav-item">
                  <a class="nav-link page-scroll"  href="about">Questions |</a>
          </li>
              
          <li class="nav-item">
            <a class="nav-link page-scroll"  href="#contact">Messsages |</a>
          </li>
          
          <li class="nav-item">
                  <a class="nav-link page-scroll"  href="#contact">Notifications |</a>
          </li>
          <li *ngIf="currentUser" class="nav-item m-1">
            <a class="btn btn-outline-success" role="button" style="color: #fff" (click)="logout(currentUser.id)">Logout</a>
          </li>
      </ul>
  
    </div>
  </div>
</nav>
<!-- Header -->
<header>
    
  <div class="container">
      <div class="intro-text">
        <div class="intro-heading exp">AGROWEB</div>
          <div class="exp"> 
                  <p class=" new text-center text-white"><i>"WE ARE DRIVEN BY IDEAS, CREATIVITY, INNOVATION, PARTICIPATION AND PEOPLE"</i></p>
            <!-- <p class="new text-danger">Achieving insight and intellectual growth </p> -->
          </div>
       
      </div>
  </div>
</header>

<section>
  <div class="container">
      <h2 class="drk">Set Up Your Profile</h2>
      <hr class="small">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6 col-sm-6">
              <div class="row">
                  <div class="col-md-6 col-sm-6 bt btn">  
                    <div><label for="name">First Name:</label></div>  
                      <input formControlName="firstname" type="text" id="username"  required /><span class="text-danger">*</span>
    
                      <div *ngIf="submitted" class="invalid-feedback" >
                      <div *ngIf="">First Name is required</div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6 col-sm-6 bt btn">  
                     <div> <label for="name">Phone Number:</label></div> 
                      <input formControlName="phone" type="number"   required /><span class="text-danger">*</span>
  
                      <div *ngIf="submitted" class="invalid-feedback">
                          <div *ngIf="">Phone Number is required</div>
                      </div>
                  </div>
              </div> 
              <div class="row">
                    <div class="col-md-6 col-sm-6 bt btn">  
                            <div><label class="lb">Address:</label></div>  
                              <input formControlName="address" type="text"   required /><span class="text-danger">*</span>
            
                              <div *ngIf="submitted" class="invalid-feedback" >
                              <div *ngIf="">Address is required</div>
                              </div>
                          </div>
              </div> 
              <div class="row">
                    <div class="col-md-6 col-sm-6 bt btn">  
                      <div><label class="lb">State:</label></div>  
                        <input formControlName="state" type="text"   required /><span class="text-danger">*</span>
      
                        <div *ngIf="submitted" class="invalid-feedback" >
                        <div *ngIf="">State is required</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 bt btn">  
                            <div><label for="name">Institution:</label></div>  
                            <input formControlName="school" type="text"   required /><span class="text-danger">*</span>
        
                            <div *ngIf="submitted" class="invalid-feedback" >
                            <div *ngIf="">Institution is required</div>
                            </div>
                    </div>
                </div>
          </div>
          <div class="col-md-6 col-sm-6">
              <div class="row">
                  <div class="col-md-6 col-sm-6 bt btn">   
                      <div><label for="name">Last Name:</label></div>  
                      <input formControlName="lastname" type="text" id="username" required /><span class="text-danger">*</span>
    
                      <div *ngIf="submitted" class="invalid-feedback" >
                      <div *ngIf="">Last Name is required</div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6 col-sm-6 bt btn">  
                     <div> <label class="lb">Sex:</label></div> 
                      <input formControlName="sex" type="text" required /><span class="text-danger">*</span>
  
                      <div *ngIf="submitted" class="invalid-feedback">
                          <div *ngIf="">Sex is required</div>
                      </div>
                  </div>
              </div> 
              <div class="row">
                    <div class="col-md-6 col-sm-6 bt btn">  
                      <div><label class="lb">Country:</label></div>  
                        <input formControlName="country" type="text" id="Country"  required /><span class="text-danger">*</span>
      
                        <div *ngIf="submitted" class="invalid-feedback" >
                        <div *ngIf="">Country is required</div>
                        </div>
                    </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6 bt btn">  
                        <div><label class="lb">Course:</label></div>  
                        <input formControlName="course" type="text"   required /><span class="text-danger">*</span>

                        <div *ngIf="submitted" class="invalid-feedback" >
                        <div *ngIf="">Course is required</div>
                        </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6 bt btn">  
                        <div><label for="name">Profile_Photo:</label></div>  
                        <input formControlName="image" type="file"   required /><span class="text-danger">*</span>

                        <div *ngIf="submitted" class="invalid-feedback" >
                        <div *ngIf="">Profile_Photo is required</div>
                        </div>
                </div>
              </div>
          </div>

        </div>
        <div class="row">
                <div class="col-md-12 col-sm-12 bt btn">  
                  
                 <!-- <div><label class="text-right">A brief description of yourself </label></div> -->
                    <input formControlName="description" type="text" id="description" placeholder="Tell us about yourself"  required /> <span class="text-danger">*</span>

                    <div *ngIf="submitted" class="invalid-feedback" >
                    <div *ngIf="">Field cannot be blank</div>
                    </div>
                </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6">
                  <button [disabled]="loading" class=" bt btn section-btn smoothScroll" type="submit"> Sign Up </button>

              <!-- <a routerLink="/" class=" bt btn section-btn smoothScroll">Sign Up</a> -->
          </div>
      </div><br>
  
      </form>
  </div>
  
</section>