
 <section id ="main">
    <div class="moverlay"></div>
    <div class="container">
        <a routerLink="/"><h1 class="drk">AgroWeb</h1> </a>
      <hr class="rule">
      <p> Sign up and join the great community of storytelling</p>

      <div class="row">

          <div class="col-md-4 col-sm-6">
              <a routerLink="/" class=" bt btn section-btn smoothScroll">Signup With Twitter</a>
          </div>
      </div>

      <div class="row">
          <div class="col-md-4 col-sm-6">
              <a routerLink="/" class=" bt btn section-btn smoothScroll">Signup With Facebook</a>
          </div>
      </div>

      <div class="row">
          <div class="col-md-4 col-sm-6">
              <a routerLink="/email" class=" bt btn section-btn smoothScroll">Signup With Email</a>
          </div>
      </div>

      <p>
        <span> <b>Already have an account? </b></span> &nbsp; &nbsp;
        <span><b>LOGIN</b></span>
      </p>

    </div>
             
</section>

<!-- Footer -->

<app-nav></app-nav>