
 <section id ="main">
    <div class="moverlay"></div>
    <div class="container">
        <div class="col-md-12 col-sm-12">
            <a routerLink="/" class="brand"><h1 class="drk"><i>Agroweb</i></h1></a>
        </div>
        <hr class="rule">
        <h3> Sign up and join the great community of storytelling</h3>

        <div class="row">
          <div class="col-md-4 col-sm-6">
              <a routerLink="/" class=" bt btn section-btn smoothScroll">Signup With Twitter</a>
          </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6">
                <a routerLink="/" class=" bt btn section-btn smoothScroll">Signup With Facebook</a>
            </div>
        </div><br>

        <div class="row">
            <div class="col-md-4 col-sm-6">
                <a routerLink="/email" class=" bt btn section-btn smoothScroll">Signup With Email</a>
            </div>
        </div>

        <div class="col-md-12 col-sm-12">
            <p>
                <span> <b>Already have an account? </b></span> &nbsp; &nbsp;
                <a routerLink="/login"> <span class="text-white"><b>LOGIN</b></span></a>
            </p>
        </div>

    </div>
             
</section>

<!-- Footer -->

<app-nav></app-nav>