 <!-- FOOTER -->
 <footer data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
    
                  <div class="col-md-8 col-sm-5">
                       
                       <div class="copyright-text"> 
                            <a routerLink="/"  >
                                <span>About</span>
                            </a>
                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>FAQ</span> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<span>Terms</span> &nbsp;  &nbsp;&nbsp;&nbsp;<span>Privacy</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Feedback</span> 
                       </div>
                  </div>
                  <div class="col-md-4 col-sm-5">
                       
                            <div class="copyright-text"> 
                                     &nbsp;  <span>Copyright &copy; 2019 Agroweb</span> 
                            </div>
                  </div>
    
        </div>
    </div>
    </footer>