
 <section id ="main">
    <div class="moverlay"></div>
    <div class="container">
        <a routerLink="/"><h1 class="drk">AgroWeb</h1> </a>
      <hr class="rule">
      <h3 class="text-dark">Set your email and password.</h3>

      <div class="row">

          <div class="col-md-4 col-sm-6 bt btn">
              <!-- <a routerLink="/" class=" bt btn section-btn smoothScroll">Signup With Twitter</a> -->
              <input type="email" name="email" placeholder="Email" required>
          </div>
      </div>

      <div class="row">
          <div class="col-md-4 col-sm-6  bt btn">
              <input type="Password" name="password" placeholder="Password">
          </div>
      </div>

      <div class="row">
          <div class="col-md-4 col-sm-6  bt btn">
              <input type="Password" name="password" placeholder="Confirm Password">
          </div>
      </div>

      <div class="row">
          <div class="col-md-4 col-sm-6">
              <a routerLink="/" class=" bt btn section-btn smoothScroll">Sign Up</a>
          </div>
      </div>

      <div>
        <p>Or signup using  <a routerLink="/signup"> TWITTER or FACEBOOK </a></p>
      </div>
       

      <p>
        <span> <b>Already have an account? </b></span> &nbsp; &nbsp;
        <span><b>LOGIN</b></span>
      </p>

    </div>
             
</section>

<!-- Footer -->

<app-nav></app-nav>