
 <section id ="main">
  <div class="moverlay"></div>
  <div class="container">
      <a routerLink="/"><h1 class="drk">AgroWeb</h1> </a>
    <hr class="rule">
    <h3 class="text-dark">Login with your email and password.</h3>

    <div class="row">
        <div class="col-md-4 col-sm-6 bt btn">
            <input type="email" name="email" placeholder="Email" required>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-6  bt btn">
            <input type="Password" name="password" placeholder="Password">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-6">
          <!-- <button> -->
            <a routerLink="/" class=" bt btn section-btn smoothScroll">Login</a>
          <!-- </button>  -->
        </div>
    </div>

    <div>
      <p>Or signup using  <a routerLink="/signup"> TWITTER or FACEBOOK </a></p>
    </div>
     

    <p>
      <span> <b>Don't have an account? </b></span> &nbsp; &nbsp;
      <span><b>SIGNUP</b></span>
    </p>

  </div>
           
</section>

<!-- Footer -->

<app-nav></app-nav>