body {
  background: #ffffff;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}


/*---------------------------------------
   TYPOGRAPHY              
-----------------------------------------*/

h1,h2,h3,h4,h5,h6 {
  font-weight: 300;
  line-height: inherit;
  letter-spacing: -1px;
}

h1 {
  color: #292929;
  font-size: 3em;
  margin-bottom: 30px;
}

h2 {
  color: #393939;
  font-size: 2em;
}

h3 {
  color: #505050;
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 0;
}

h4 {
  color: #696969;
  font-size: 18px;
  line-height: normal;
}

p {
  color: #757575;
  font-size: 17px;
  font-weight: normal;
  line-height: 33px;
}

strong {
  font-weight: 500;
}


/*---------------------------------------
   GENERAL               
-----------------------------------------*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #252525;
  font-weight: normal;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}

a:hover, a:active, a:focus {
  color: #ce3232;
  outline: none;
}

.section-title {
  margin-bottom: 60px;
}

.section-title h2 {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 0;
}

.section-title .line-bar {
  color: #7fc930;
  display: block;
  font-size: 5em;
  line-height: 0;
}

.section-btn {
  background: #365f37;
  border: 0;
  border-radius: 100px;
  color: #ffffff;
  cursor: pointer;
  font-size: inherit;
  font-weight: normal;
  padding: 15px 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-left: 32rem !important;
}

.section-btn:hover,
.section-btn:focus {
  background: rgb(12, 7, 5);  /* fallback for old browsers */
 
  border-color: black;
  color: #f1ebeb;
}

.bt{
  width: 12rem;
  margin-top: 2rem;
  font-size: 17px;    
  font-style: italic;       
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  background-color: white;
}


 
 /* Nav Bar Custom */
 .navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-family: "FiraSans";
  background-color: black;
  padding-top: 1rem;
}
.navbar-custom .navbar-toggle {
  color:#365f37;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
  
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
.navbar-custom .navbar-brand {
  font-weight: 500px;
  margin-top:2px;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom a {
  color: rgba(255, 255, 255, 0.8);
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover {
  color: rgb(53, 5, 5);
  outline: none;
  background-color: rgb(194, 156, 156);
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: black;
}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li.active a {
  background-color: rgb(17, 4, 4);
}
.navbar-custom .nav li.active a:hover {
  color: rgb(15, 3, 3);
}
@media (min-width: 768px) {
  .navbar-custom {
    /*padding: 20px 0;*/
    color: aliceblue;
    border-bottom: none;
    letter-spacing: 1px;
    background: black;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 12px;
    background: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

  }
}

/* Custom Horizontal Rule */

hr.small {
  max-width: 260px;
 background-color: #7fc930 !important;
  
}

header {
  background-image: url("../../assets/img/z.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  background-color: hsl(0, 0%, 3%);
  color: white;
  margin-top: 5rem;
  // opacity: 0.7;

}
header .intro-text {
  padding-top:150px;
  padding-bottom: 100px;
}
header .intro-text .intro-lead-in {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 25px;
}
header .intro-text .intro-heading {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 75px;
  line-height: 75px;
  margin-bottom: 50px;
}
.new{
font-size: 1.3rem;
}

// @media (max-width: 768px) {
//   header .intro-text {
//     padding-top: 100px;
//     padding-bottom: 80px;
//   }
//   header .intro-text .intro-lead-in {
//     font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
//     font-style: italic;
//     font-size: 40px;
//     line-height: 40px;
//     margin-bottom: 25px;
//   }
//   header .intro-text .intro-heading {
//     font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
//     text-transform: uppercase;
//     font-weight: 700;
//     font-size: 75px;
//     line-height: 75px;
//     margin-bottom: 50px;
//   }
// }
 
.welcome {
  margin-top: -150px;
  font-size: 2.5rem;
  font-weight: 800;
}

.content-section {
  padding: 70px 0;
  margin-top: -1rem;
}

/*Section resposible for text transformation /fading*/
  div.exp {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
  }
  
  div.exp:first-of-type {    /* For increasing performance 
                         ID/Class should've been used. 
                         For a small demo 
                         it's okaish for now */
    animation: showup 7s infinite;
  }
  
 p div.exp:last-of-type {
    width:0px;
    animation: reveal 7s infinite;
  }
  
 div.exp:last-of-type {
    margin-left:-355px;
    animation: slidein 7s infinite;
  }
  
  @keyframes showup {
      0% {opacity:0;}
      20% {opacity:1;}
      80% {opacity:1;}
      100% {opacity:0;}
  }
  
  @keyframes slidein {
      0% { margin-left:-500px; }
      20% { margin-left:-500px; }
      35% { margin-left:0px; }
      100% { margin-left:0px; }
  }
  
  @keyframes reveal {
      0% {opacity:0;width:0px;}
      20% {opacity:1;width:0px;}
      30% {width:355px;}
      80% {opacity:1;}
      100% {opacity:0;width:355px;}
  }
  
  .drk{
    color:#393939;
    font-size: 3rem;
    font-weight:600;
    }

    input {
      background: #ebe8e8;  
      width: 373px;
      height: 40px;
      border: 0;
      border-radius: 10px;
      color: #0c0101;
      cursor: pointer;
      font-size: inherit;
      font-weight: normal;
      padding: 15px 30px;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      margin-left:7rem;
  
    }
    
    label{
      display: inline-block;
      margin-bottom: .5rem;
      margin-left: 7rem;
      font-style: italic;
      font-weight: bold;
    }
  
    .lb{
      margin-left: 3rem;
    }

    #description{
      width: 82%;
      margin-left: 4rem;
      height: 3rem;
    }