body {
  background: #ffffff;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}


/*---------------------------------------
   TYPOGRAPHY              
-----------------------------------------*/

h1,h2,h3,h4,h5,h6 {
  font-weight: 300;
  line-height: inherit;
  letter-spacing: -1px;
}

h1 {
  color: #292929;
  font-size: 3em;
  margin-bottom: 30px;
}

h2 {
  color: #393939;
  font-size: 2em;
}

h3 {
  color: #505050;
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 0;
}

h4 {
  color: #696969;
  font-size: 18px;
  line-height: normal;
}

p {
  color: #757575;
  font-size: 17px;
  font-weight: normal;
  line-height: 33px;
}

strong {
  font-weight: 500;
}


/*---------------------------------------
   GENERAL               
-----------------------------------------*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #252525;
  font-weight: normal;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}

a:hover, a:active, a:focus {
  color: #ce3232;
  outline: none;
}

.section-title {
  margin-bottom: 60px;
}

.section-title h2 {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 0;
}

.section-title .line-bar {
  color: #7fc930;
  display: block;
  font-size: 5em;
  line-height: 0;
}

.section-btn {
  background: #365f37;
  border: 0;
  border-radius: 100px;
  color: #ffffff;
  cursor: pointer;
  font-size: inherit;
  font-weight: normal;
  padding: 15px 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-left: 30rem !important;
}

.section-btn:hover,
.section-btn:focus {
  background: rgb(12, 7, 5);  /* fallback for old browsers */
 
  border-color: black;
  color: #f1ebeb;
}

.section-btns {
  background: #365f37;
  border: 0;
  border-radius: 100px;
  color: #ffffff;
  cursor: pointer;
  font-size: inherit;
  font-weight: normal;
  padding: 15px 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
 
}

.section-btns:hover,
.section-btns:focus {
  background: black;  /* fallback for old browsers */
 
  border-color: black;
  color: #f1ebeb;
}


.bt{
  width: 13rem;
  margin-top: 2rem;
  font-size: 20px;
  font-style: italic;      
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  background-color: white;
}


 
 /* Nav Bar Custom */
//  .navbar-custom {
//   margin-bottom: 0;
//   border-bottom: 1px solid rgba(255, 255, 255, 0.3);
//   font-family: "FiraSans";
//   background-color: black;
//   padding-top: 1rem;
// }
// .navbar-custom .navbar-toggle {
//   color:#365f37;
//   background-color: rgba(255, 255, 255, 0.2);
//   font-size: 12px;
  
// }
// .navbar-custom .navbar-toggle:focus,
// .navbar-custom .navbar-toggle:active {
//   outline: none;
// }
// .navbar-custom .navbar-brand {
//   font-weight: 500px;
//   margin-top:2px;
// }
// .navbar-custom .navbar-brand:focus {
//   outline: none;
// }
// .navbar-custom a {
//   color: rgba(255, 255, 255, 0.8);
// }
// .navbar-custom .nav li a {
//   -webkit-transition: background 0.3s ease-in-out;
//   -moz-transition: background 0.3s ease-in-out;
//   transition: background 0.3s ease-in-out;
// }
// .navbar-custom .nav li a:hover {
//   color: rgb(53, 5, 5);
//   outline: none;
//   background-color: rgb(194, 156, 156);
// }
// .navbar-custom .nav li a:focus,
// .navbar-custom .nav li a:active {
//   outline: none;
//   background-color: black;
// }
// .navbar-custom .nav li.active {
//   outline: none;
// }
// .navbar-custom .nav li.active a {
//   background-color: rgb(17, 4, 4);
// }
// .navbar-custom .nav li.active a:hover {
//   color: rgb(15, 3, 3);
// }
// @media (min-width: 768px) {
//   .navbar-custom {
//     /*padding: 20px 0;*/
//     color: aliceblue;
//     border-bottom: none;
//     letter-spacing: 1px;
//     background: black;
//     -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
//     -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
//     transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
//   }
//   .navbar-custom.top-nav-collapse {
//     padding: 12px;
//     background: black;
//     border-bottom: 1px solid rgba(255, 255, 255, 0.3);

//   }
// }

.navbar-custom {
  // padding: 20px 0;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-family: "FiraSans";
  background-color: black;
  padding-top: 1rem;
  color: aliceblue;
  border-bottom: none;
  letter-spacing: 1px;
  -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}



/* Custom Horizontal Rule */


hr.small {
  max-width: 260px;
 background-color: #7fc930 !important;
  
}

header {
  background-image: url("../../assets/img/z.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  background-color: hsl(0, 0%, 3%);
  color: white;
  margin-top: 5rem;
  // opacity: 0.7;

}
header .intro-text {
  padding-top:150px;
  padding-bottom: 100px;
}
header .intro-text .intro-lead-in {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 25px;
}
header .intro-text .intro-heading {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 75px;
  line-height: 75px;
  margin-bottom: 50px;
}
.new{
font-size: 1.3rem;
}
 
.welcome {
  margin-top: -150px;
  font-size: 2.5rem;
  font-weight: 800;
}

.content-section {
  padding: 70px 0;
  margin-top: -1rem;
}

/*Section resposible for text transformation /fading*/
div.exp {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

.exp .new ::after{
  content: "DRIVEN BY IDEAS, CREATIVITY AND INNOVATION";
}

div.exp:first-of-type {    /* For increasing performance 
                       ID/Class should've been used. 
                       For a small demo 
                       it's okaish for now */
  animation: showup 7s infinite;
}

p div.exp:last-of-type {
  width:0px;
  animation: reveal 7s infinite;
}

div.exp:last-of-type {
  margin-left:-355px;
  animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-500px; }
    20% { margin-left:-500px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}

.drk{
  color:#393939;
  font-size: 3rem;
  font-weight:600;
  }

    input {
      background: #ebe8e8;  
      width: 373px;
      height: 40px;
      border: 0;
      border-radius: 10px;
      color: #0c0101;
      cursor: pointer;
      font-size: inherit;
      font-weight: normal;
      padding: 15px 30px;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      margin-left:7rem;
  
    }
    
    label{
      display: inline-block;
      margin-bottom: .5rem;
      margin-left: 7rem;
      font-style: italic;
      font-weight: bold;
    }
  
    .lb{
      margin-left: 3rem;
    }

    #description{
      width: 82%;
      margin-left: 4rem;
      height: 3rem;
    }

    .pic{
      margin-left:0rem;
      height:4rem;
    }

    .btn-suc{
      background: antiquewhite !important;
      color: black;
      font-style: italic;
      font-weight: 700;
    }
  

    @media (min-width: 992px) {
      .modal-dialog {
        width: 420px;
      }
    }
  
    .modal-open .modal {
      padding-left: 0 !important;
    }
  
    .modal-dialog .modal-content {
      background: #000000;  /* fallback for old browsers */
      background: linear-gradient(to right, #434343, #b5a277); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #434343, #b5a277); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      border: none;
      border-radius: 2px;
      text-align: center;
      position: relative;
      padding: 2em;
    }
    
  
    .modal-header, .modal-footer {
      border-bottom: 0;
      padding: 0;
    }
  
    .modal-dialog .modal-body {
      padding: 0;
    }
  
    .modal-dialog .modal-body a {
      color: #d9d9d9;
    }
  
    .modal .close {
      color: #ce0a0a;
      background-color: #3831316e;
      font-size: 53px;
      font-weight: 500;
      text-shadow: none;
      opacity: 1;
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 100;
      outline: none;
    }
  
    .modal-dialog .modal-title {
      margin-bottom: 20px;
    }
  
    .modal-dialog .modal-title h2 {
      color: #ffffff;
    }
  
    .modal-dialog .nav-tabs {
      display: inline-block;
    }
  
    .modal-dialog .nav-tabs > li > a {
      border: 0;
      color: #999999;
      margin-right: 0;
    }
  
    .modal-dialog .nav-tabs > li.active > a, 
    .modal-dialog .nav-tabs > li.active > a:hover, 
    .modal-dialog .nav-tabs > li.active > a:focus,
    .modal-dialog .nav>li>a:focus, 
    .modal-dialog .nav>li>a:hover {
      color: #ffffff;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #ce3232;
    }
  
    .modal-dialog .tab-content {
      padding-top: 20px;
    }
  
    .modal-dialog form .form-control {
      border-radius: 5px;
      border: 1px solid #595959;
      background: transparent;
      box-shadow: none;
      margin: 15px 0 15px 0;
      height: 50px;
    }
  
    .modal-dialog form .form-control:hover,
    .modal-dialog form .form-control:focus {
      border-color: #ffffff;
    }
  
    .modal-dialog form input[type="submit"] {
      background: #ce3232;
      border-color: transparent;
      border-radius: 100px;
      color: #ffffff;
      margin-top: 20px;
    }
  

    @media screen and (max-width: 179px){
      input {
        font-size: 12px;
        margin-left: 1rem;
        max-width: 6rem;
      }
    
      .section-btn{
        margin-left: 0rem !important;
    }
    
      .bt{
        width: 7rem;
        font-size: 14px;
      }
    
      .drk{
        font-size: 20px;
        font-style: italic;
        font-weight: bold;
      }
      header .intro-text {
      padding-top: 85px;
      padding-bottom: 12px;
      }

      header .intro-text .intro-lead-in{
        font-size: 10px;
        line-height: 20px;
        margin-bottom: 15px;
      }

      header .intro-text .intro-heading {
        font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 19px;
        line-height: 25px;
        margin-bottom: 20px;
      }

      .new{
        font-size: 0.7rem;
        margin-left: 247px;
      
        }

        .exp .new ::after{
          content: " ";
        }

        header {
          color: white;
          margin-top: 4rem;
          font-weight: bold;
        }

        @keyframes slidein {
          // 0% { margin-left:10px; }
          // 20% { margin-left:10px; }
          // 35% { margin-left:0px; }
          // 100% { margin-left:0px; }
      }
      
      @keyframes reveal {
          0% {opacity:0;width:0px;}
          20% {opacity:1;width:0px;}
          30% {width:355px;}
          80% {opacity:1;}
          100% {opacity:0;width:355px;}
      }

      .section-btns{
        padding: 9px 0px;
        background-color: transparent;
        border-radius: 0px;
      }

      label{
        margin-left: 1rem;
      }

      .lb{
        margin-left:1rem;
      }

      .navbar-toggler {
        margin: 0.5rem -2.25px 0 -1.25rem !important;
    }

    .navbar-custom {
      padding-top: 0rem;
     }
    
    }
    
    
    @media screen  and (min-width: 180px) and (max-width: 230px){
      input {
        font-size: 12px;
        margin-left: 2rem;
        max-width: 8rem;
      }
    
      .section-btn{
        margin-left: 0rem !important;
    }
    
      .bt{
        width: 7rem;
        font-size: 14px;
      }
    
      .drk{
        font-size: 30px;
        font-style: italic;
        font-weight: bold;
      }
      header .intro-text {
      padding-top: 85px;
      padding-bottom: 12px;
      }

      header .intro-text .intro-lead-in{
        font-size: 10px;
        line-height: 20px;
        margin-bottom: 15px;
      }

      header .intro-text .intro-heading {
        font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 26px;
        line-height: 25px;
        margin-bottom: 20px;
      }

      .new{
        font-size: 0.7rem;
        margin-left:350px;
      
        }

        .exp .new ::after{
          content: "DRIVEN BY IDEAS,INNOVATION";
        }

        header {
          color: white;
          margin-top: 4rem;
          font-weight: bold;
        }

        @keyframes slidein {
          // 0% { margin-left:10px; }
          // 20% { margin-left:10px; }
          // 35% { margin-left:0px; }
          // 100% { margin-left:0px; }
      }
      
      @keyframes reveal {
          0% {opacity:0;width:0px;}
          20% {opacity:1;width:0px;}
          30% {width:355px;}
          80% {opacity:1;}
          100% {opacity:0;width:355px;}
      }

      .section-btns{
        padding: 9px 0px;
        background-color: transparent;
        border-radius: 0px;
      }

      label{
        margin-left: 2rem;
      }

      .lb{
        margin-left:2rem;
      }

      .navbar-toggler {
        margin: 0.5rem -2.25px 0 -1.25rem !important;
    }

    .navbar-custom {
      padding-top: 0rem;
     }
    
    }
    
    @media screen and (min-width: 231px) and (max-width: 350px) {
      input {
          font-size: 12px;
          margin-left: 4rem;
          max-width: 9.5rem;
      }
    
      .section-btn{
        margin-left: -1rem !important;
    }
    
      .bt{
        width: 7rem;
        font-size: 14px;
      }
    
      .drk{
        font-size: 30px;
        font-style: italic;
        font-weight: bold;
      }

      header .intro-text {
      padding-top: 85px;
      padding-bottom: 12px;
      }

      header .intro-text .intro-lead-in{
        font-size: 10px;
        line-height: 20px;
        margin-bottom: 15px;
      }

      header .intro-text .intro-heading {
        font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 32px;
        line-height: 25px;
        margin-bottom: 20px;
      }

      .new{
        font-size: 0.8rem;
        margin-left: 345px;
      }

       .exp .new ::after{
          content: "DRIVEN BY IDEAS AND INNOVATION";
        }

        header {
          color: white;
          margin-top: 4rem;
          font-weight: bold;
        }

        @keyframes slidein {
          // 0% { margin-left:10px; }
          // 20% { margin-left:10px; }
          // 35% { margin-left:0px; }
          // 100% { margin-left:0px; }
      }
      
      @keyframes reveal {
          0% {opacity:0;width:0px;}
          20% {opacity:1;width:0px;}
          30% {width:355px;}
          80% {opacity:1;}
          100% {opacity:0;width:355px;}
      }

      .section-btns{
        padding: 9px 0px;
        background-color: transparent;
        border-radius: 0px;
      }

      label{
        margin-left: 4rem;
      }

      .lb{
        margin-left:4rem;
      }

      .navbar-toggler {
        margin: 0.5rem -2.25px 0 -1.25rem !important;
    }

    .navbar-custom {
      padding-top: 0rem;
     }
    
    
    }
    
    @media screen and (min-width: 451px) and (max-width: 575px) {
    
      .section-btn{
        margin-left: 1rem !important;
      }
    
      input{
        margin-left:8rem;
        max-width: 16rem;
      }
   
      .bt{
        width: 11rem;
        font-size: 14px;
      }
    
      .drk{
        font-size: 36px;
        font-style: italic;
        font-weight: bold;
      }

      header .intro-text {
        padding-top: 85px;
        padding-bottom: 12px;
      }

      header .intro-text .intro-lead-in{
        font-size: 10px;
        line-height: 20px;
        margin-bottom: 17px;
      }

      header .intro-text .intro-heading {
        font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 35px;
        line-height: 25px;
        margin-bottom: 20px;
      }

      .new{
        font-size: 0.9rem;
        margin-left: 353px;
      
        }

        header {
          color: white;
          margin-top: 4rem;
          font-weight: bold;
        }

        @keyframes slidein {
          // 0% { margin-left:10px; }
          // 20% { margin-left:10px; }
          // 35% { margin-left:0px; }
          // 100% { margin-left:0px; }
      }
      
      @keyframes reveal {
          0% {opacity:0;width:0px;}
          20% {opacity:1;width:0px;}
          30% {width:355px;}
          80% {opacity:1;}
          100% {opacity:0;width:355px;}
      }

      .section-btns{
        padding: 9px 0px;
        background-color: transparent;
        border-radius: 0px;
      }

      label{
        margin-left: 8rem;
      }

      .lb{
        margin-left:8rem;
      }
    
      p {
        
        font-size: 20px;
        font-weight: normal;
        line-height: 33px;
      }
    
    }
    
    @media screen and (min-width: 351px) and (max-width: 450px) {
    
      .section-btn{
          margin-left: 2rem !important;
      }
    
      input{
        margin-left:5rem;
        max-width: 13rem;
      }
    
      .bt{
        width: 9rem;
        font-size: 17px;
      }

      .drk{
        font-size: 30px;
        font-style: italic;
        font-weight: bold;
      }

      header .intro-text {
      padding-top: 85px;
      padding-bottom: 12px;
      }

      header .intro-text .intro-lead-in{
        font-size: 10px;
        line-height: 20px;
        margin-bottom: 15px;
      }

      header .intro-text .intro-heading {
        font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 35px;
        line-height: 25px;
        margin-bottom: 20px;
      }

      .new{
        font-size: 0.9rem;
        margin-left: 345px;
      }

       .exp .new ::after{
          content: "DRIVEN BY IDEAS AND INNOVATION";
        }

        header {
          color: white;
          margin-top: 4rem;
          font-weight: bold;
        }

        @keyframes slidein {
          // 0% { margin-left:10px; }
          // 20% { margin-left:10px; }
          // 35% { margin-left:0px; }
          // 100% { margin-left:0px; }
      }
      
      @keyframes reveal {
          0% {opacity:0;width:0px;}
          20% {opacity:1;width:0px;}
          30% {width:355px;}
          80% {opacity:1;}
          100% {opacity:0;width:355px;}
      }

      .section-btns{
        padding: 9px 0px;
        background-color: transparent;
        border-radius: 0px;
      }

      label{
        margin-left: 5rem;
      }

      .lb{
        margin-left:5rem;
      }  
    }
    
    @media screen and (min-width:576px) and (max-width: 767px) {
    
      .section-btn{
          margin-left: 9rem !important;
      }
    
      input{
        margin-left: 0rem;
        max-width: 15rem;
    }
    
      .bt{
        width: 16rem;
        font-size: 17px;
      }

      .drk{
        font-size: 36px;
        font-style: italic;
        font-weight: bold;
      }

      // header .intro-text {
      //   padding-top: 85px;
      //   padding-bottom: 12px;
      // }

      header .intro-text .intro-lead-in{
        font-size: 10px;
        line-height: 20px;
        margin-bottom: 17px;
      }

      header .intro-text .intro-heading {
        font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-weight: 703;
        font-size: 57px;
        line-height: 48px;
        margin-bottom: 20px;
      }

      .new{
        font-size: 0.9rem;
        margin-left: 353px;
      
        }

        header {
          color: white;
          margin-top: 4rem;
          font-weight: bold;
        }

        @keyframes slidein {
          // 0% { margin-left:10px; }
          // 20% { margin-left:10px; }
          // 35% { margin-left:0px; }
          // 100% { margin-left:0px; }
      }
      
      @keyframes reveal {
          0% {opacity:0;width:0px;}
          20% {opacity:1;width:0px;}
          30% {width:355px;}
          80% {opacity:1;}
          100% {opacity:0;width:355px;}
      }

      .section-btns{
        padding: 9px 0px;
        background-color: transparent;
        border-radius: 0px;
      }

      label{
        margin-left: 0rem;
      }

      .lb{
        margin-left:-1rem;
      }
    

    }
    
    // @media screen and (max-width: 991px) {
    
    //   h3 {
    //     font-size: 1.2em;
    //   }
    
    //   p {
    //     font-size: 13px;
    //   }
    
     
    // }
    
    @media only screen and (min-width: 768px) and (max-width: 991px) {
    
      .section-btn{
        margin-left: 15rem !important;
    }
  
    input{
      margin-left: 4rem;
      max-width: 15rem;
  }
  
    .bt{
      width: 16rem;
      font-size: 17px;
    }

    .drk{
      font-size: 36px;
      font-style: italic;
      font-weight: bold;
    }

    // header .intro-text {
    //   padding-top: 85px;
    //   padding-bottom: 12px;
    // }

    header .intro-text .intro-lead-in{
      font-size: 10px;
      line-height: 20px;
      margin-bottom: 17px;
    }

    header .intro-text .intro-heading {
      font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-weight: 717;
      font-size: 61px;
      line-height: 47px;
      margin-bottom: 20px;
    }

    .new{
      font-size: 0.9rem;
      margin-left: 353px;
    
      }

      header {
        color: white;
        margin-top: 4rem;
        font-weight: bold;
      }

      @keyframes slidein {
        0% { margin-left:-200px; }
        20% { margin-left:-200px; }
        35% { margin-left:0px; }
        100% { margin-left:0px; }
    }
    
    @keyframes reveal {
        0% {opacity:0;width:0px;}
        20% {opacity:1;width:0px;}
        30% {width:355px;}
        80% {opacity:1;}
        100% {opacity:0;width:355px;}
    }

    .section-btns{
      padding: 9px 0px;
      background-color: transparent;
      border-radius: 0px;
    }

    label{
      margin-left: 4rem;
    }

    .lb{
      margin-left:4rem;
    }
  

    }
    
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
    
      .section-btn{
        margin-left: 20rem !important;
    }
  
    input{
      margin-left: 4rem;
      max-width: 20rem;
  }
  
    .bt{
      width: 16rem;
      font-size: 17px;
    }

    label{
      margin-left: 2rem;
    }

    .lb{
      margin-left: -1rem;
    }
  
    }
    
    @media screen and (max-width: 767px) {
    
      
      footer {
        text-align: center;
      }
    
      .footer-info p,
      .footer-bottom .phone-contact {
        margin-right: 0;
      }
  
    }
    