

     <!-- HOME -->
     <section id="home" data-stellar-backgrround-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-12 lgbtn">
            <a routerLink="/" class="brand"><i>Agroweb</i></a>
          </div>
          <div class="col-md-4 col-sm-12 text-white">
              <h3 class="btns logbtn btn section-btn"><a routerLink="login">Login</a></h3>
            </div>
        </div>


             <div class="row">
                  <div class="col-md-6 col-sm-12">
                    
                       <div class="home-info">
                         <h1>AGROWEB</h1>
                            <h4 class="text-white">Connecting Farmers together, making market possible and sharing information.</h4>
                            <a routerLink="signup" class="btn section-btn smoothScroll">Join Now</a>
                           
                       </div>
                  </div>

                  <!-- <div class="col-md-6 col-sm-12">
                       <div class="home-video">
                            <div class="embed-responsive embed-responsive-16by9">
                       </div>
                  </div> -->
                  
             </div>
        </div>
   </section>

   
     <!-- ABOUT -->
     <section id="about" data-stellar-background-ratio="0.5">
               <div class="container">
                    <h1>Agricultural Lovers</h1>
                    <hr class="rule">
               
                    <div class="row">
     
                         <div class="col-md-4 col-sm-6">
                              <div class="about-info">
                                   <div class="section-title">
                                        <i class="flaticon-shop-1"></i>
                                        <h2>Shop</h2>
                                        <span class="line-bar">...</span>
                                   </div>
                                   <p>We provide you with a variety of products that will bring about utmost satisfaction for your shopping of all agricultural produce.  </p>
                                    <p> Take a deep dive into the world of Agroweb .</p>
                              </div>
                         </div>
     
                         <div class="col-md-4 col-sm-6">
                              <div class="about-info skill-thumb">
                                   <div class="section-title">
                                        <i class="flaticon-shop-1"></i>
                                        <h2>Get Insight</h2>
                                        <span class="line-bar">...</span>
                                   </div>
                                        <p>Get to know about the trends and development in agriculture and become great  </p>
                                        <p> Take a deep dive into the world of Agroweb .</p>
                                   
                              </div>
                         </div>
     
                         <div class="col-md-4 col-sm-12">
                              <div class="section-title">
                                   <i class="flaticon-shop-1"></i>
                                   <h2>Connect With Farmers</h2>
                                   <span class="line-bar">...</span>
                              </div>
                              <p>A platform that brings people of like minds together to create a network that strengthens and empower development and growth.  </p>
                              <p> Take a deep dive into the world of Agroweb .</p>
                         

                              <!-- <div class="about-image">
                                   <img src="../../assets/img/m.jpg" class="responsive" alt="image of different junks" >
                              </div> -->
                              
                         </div>
                         
                    </div>
                    <a routerLink="signup" class=" bt btn section-btn smoothScroll">Enter Community</a>
               </div>
          </section>

          <section id ="main">
               <div class="moverlay"></div>
               <div class="container">
                    <h1 class="drk">Farmers</h1>
                    <hr class="rule">
               
                    <div class="row">
     
                         <div class="col-md-4 col-sm-6">
                              <div class="about-info">
                                   <div class="section-title">
                                        <i class="flaticon-shop-1"></i>
                                        <h2>Sell</h2>
                                        <span class="line-bar">...</span>
                                   </div>
                                   <p class="text-dark">We provide you with a variety of products that will bring about utmost satisfaction for your shopping of all agricultural produce.  </p>
                                                                 </div>
                         </div>
     
                         <div class="col-md-4 col-sm-6">
                              <div class="about-info skill-thumb">
                                   <div class="section-title">
                                        <i class="flaticon-shop-1"></i>
                                        <h2>Answer & Ask Question</h2>
                                        <span class="line-bar">...</span>
                                   </div>
                                        <p class="text-dark">Get to know about the trends and development in agriculture and become great  </p>
            
                                
                              </div>
                         </div>
     
                         <div class="col-md-4 col-sm-12">
                              <div class="section-title">
                                   <i class="flaticon-shop-1"></i>
                                   <h2>Get Featured</h2>
                                   <span class="line-bar">...</span>
                              </div>
                              <p class="text-dark"> A platform that brings people of like minds together to create a network that strengthens and empower develop                              
                         </div>
                         
                    </div>
                    <a routerLink="signup" class=" bt btn section-btn smoothScroll">Start Contributing</a>
               </div>
          </section>

          <!-- Footer -->
          <app-nav></app-nav>